<div class="container" style="max-width: 95%;">
  <div class="error">
    {{error}}
  </div>
  <form
    action="/users/publish"
    method="post"
    enctype="multipart/form-data"
  >
    <div class="title">Thesis Review</div>
    <div class="input-box">
      <input type="email" name="sEmail" placeholder="Scholar email" required />
      <div class="underline"></div>
    </div>
    <div class="input-box">
      <input type="text" name="thesisName" placeholder="Scholar email" required />
      <div class="underline"></div>
    </div>
    <div class="input-box">
      Thesis
      <input type="file" name="thesis" accept=".pdf, .doc, .docx" placeholder="Upload Thesis" required />
      <div class="underline"></div>
    </div>
    <button class="primary">Create </button>
  </form>
  {{! <button onclick="window.location.href= '/resumes">Cancel</button> }}
  <a href="/users/" class="button">Cancel</a>
  {{! </button> }}
</div>