<div class="container" style="max-width: 95%; height:auto">
    <div class="error">
        {{error}}
    </div>
    <div class="title">Thesis</div>
    <div>
        <embed src="/users/thesis/14042023-6438ef10f98841e106fd056f-ITC from net.pdf" width=100% height=750px />
    </div>
    {{! </button> }}
</div>