<div class="topnav">
  <a href="/accounts/signIn">Sign In</a>
  <a href="/accounts/sendVerificationCode">Verify Email</a>
  <a href="/accounts/register">Register</a>
  <a class="active" href="/">Home</a>
</div>