body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  overflow-y: scroll;
}

/* ------navigation-bar------- */
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* ----footer----- */
footer {
  position: fixed;
  background-color: #f8f9fa;
  align-items: center;
  bottom: 0;
  width: 100%;
}

.f {
  color: grey;
  padding: 0%;
  text-align: center;
  font-style: initial;
  margin-top: 0%;
}

/* -----container----- */
.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------error------ */
.error {
  color: red;
}

/* ------resume-read------- */
.showGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* ------button------- */
button,
.button {
  display: block;
  margin: 20px 0 20px 0;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.button:link,
.button:visited,
.button:hover,
.button:active {
  display: block;
  text-align: center;
  background-color: #dddddd;
  text-decoration: none;
  padding-top: 1rem;
}

.button:hover,
.button:active {
  background-color: #cccccc;
}

.primary-button:link,
.primary-button:visited,
.primary-button:hover,
.primary-button:active {
  margin: 20px 0 20px 0;
  height: auto;
  width: 100%;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: block;
  text-align: center;
  background-color: #03cafc;
  color: aliceblue;
  text-decoration: none;
  padding: 1rem;
}

.primary-button:hover,
.primary-button:active {
  background-color: #03cafc6c;
  color: aliceblue;
}

.primary {
  background-color: #03cafc;
  color: aliceblue
}

.primary:hover {
  background-color: #03cafc6c;
  color: aliceblue
}

/* ------input-box------ */
.input-box {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}

input {
  width: 100%;
  /* height: 100%; */
  outline: none;
  font-size: 16px;
  border: none;
}

.underline {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ccc;
  left: 0;
  bottom: 0;
}

/* ----title----- */
.title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}

/* ------background----- */
.accounts_bg {
  display: grid;
  height: 100vh;
  width: 100%;
  place-items: center;
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url('/images/doodle_wallpaper.jpg');
}

/* -------home-page------ */
.colprop {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#txtArea {
  width: 100%;
  height: auto;
  outline: none;
  border: none;
  margin-top: 2rem;
}

/* ------clipboard btn ---------- */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}