<div class="accounts_bg" style="background: none;">
<div class="container">
    <form action="/accounts/logOut" method="post">
    <div style="text-align:center">
        Are you sure you want to log out?
        </div>
    <button class="button" style="height:auto; width:103%;padding: 1rem 2rem">Continue</button>
    </form>
    <a href="/" class="primary-button">Cancel</a>
</div>
</div>