<div class="accounts_bg">
  <div class="container">
    <div class="error">
      {{error}}
    </div>
    {{!-- {{#if FriendStatus.IsFriend}}
  <div class="ui-state-default ui-corner-all" title=".ui-icon-mail-closed"><span class="ui-icon ui-icon-mail-closed"></span></div>
{{else if FriendStatus.FriendRequested}}
  <div class="ui-state-default ui-corner-all" title=".ui-icon-check"><span class="ui-icon ui-icon-check"></span></div>
{{else}}
  <div class="ui-state-default ui-corner-all" title=".ui-icon-plusthick"><span class="ui-icon ui-icon-plusthick"></span></div>
{{/if}} --}}

    <form action="/accounts/register" method="post">
    
      <div class="title">Registration</div>
      <div class="input-box">
        <input type="text" name="fullName" placeholder="Full Name" required />
        <div class="underline"></div>
      </div>
      <div class="input-box">
        <input type="email" name="email" placeholder="E-Mail" required />
        <div class="underline"></div>
      </div>
      <div class="input-box">
        <input
          type="tel"
          name="phone"
          pattern="[0-9]{10}"
          placeholder="Mobile Number"
          required
        />
        <div class="underline"></div>
      </div>
      <div class="input-box">
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <div class="underline"></div>
      </div>
      <div class="input-box">
        <input
          type="password"
          name="confirmPassword"
          placeholder="Confirm Password"
          required
        />
        <div class="underline"></div>
      </div>
      <div style="left:0; margin-top:2rem;"><span>Already have an account?
        </span><a href="/accounts/signIn" style="text-decoration:none;">Sign In</a></div>
      <button>Continue</button>
    </form>
  </div>
</div>